* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(#6fd9ff, #fff);
    overflow: hidden;
}
.snow-flakes-wrap .snow-flake {
    position: absolute;
}
.snow-flake-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

/* flake-pattern-1 */
.snow-flake .flake-pattern-1 {
    opacity: 0.7;
}
.snow-flake .flake-pattern-1 .snow-flake-inner {
    background-color: white;
    width: 0px;
    height: 100%;
    border-radius: 3px;
    border: solid 1px white;
    position: absolute;
    left: 47%;
}
.snow-flake .flake-pattern-1 .snow-flake-inner.pattern::before,
.snow-flake .flake-pattern-1 .snow-flake-inner.pattern::after {
    content: '';
    color: white;
    position: absolute;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    width: 4px;
    height: 4px;
}
.snow-flake .flake-pattern-1 .snow-flake-inner::before {
    transform: rotate(-45deg);
    right: -3px;
    top: -1px;
}
.snow-flake .flake-pattern-1 .snow-flake-inner::after {
    transform: rotate(135deg);
    right: -3px;
    bottom: -1px;
}
.snow-flake .flake-pattern-1 .snow-flake-inner.second {
    transform: rotate(90deg);
}
.snow-flake .flake-pattern-1 .snow-flake-inner.third {
    transform: rotate(45deg);
    height: 90%;
    top: 2px;
}
.snow-flake .flake-pattern-1 .snow-flake-inner.fourth {
    transform: rotate(-45deg);
    height: 90%;
    top: 2px;
}

/* flake-pattern-2 */
.snow-flake .flake-pattern-2 {
    opacity: 0.55;
}
.snow-flake .flake-pattern-2::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.snow-flake .flake-pattern-2 .snow-flake-inner {
    height: 100%;
    background-color: #fff;
    width: 1px;
    position: absolute;
    left: 47%;
}
.snow-flake .flake-pattern-2 .snow-flake-inner::after,
.snow-flake .flake-pattern-2 .snow-flake-inner::before {
    content: '<*';
    position: absolute;
    font-size: 9px;
    color: #fff;
    font-weight: 600;
}
.snow-flake .flake-pattern-2 .snow-flake-inner::after {
    transform: rotate(-65deg);
    bottom: 14px;
    left: 1px;
}
.snow-flake .flake-pattern-2 .snow-flake-inner::before {
    transform: rotate(110deg);
    top: 14px;
    right: 1px;
}
.snow-flake .flake-pattern-2 .snow-flake-inner.second {
    transform: rotate(90deg);
}
.snow-flake .flake-pattern-2 .snow-flake-inner.third {
    transform: rotate(45deg);
}
.snow-flake .flake-pattern-2 .snow-flake-inner.fourth {
    transform: rotate(135deg);
}

/* flake-pattern-3 */
.snow-flake .flake-pattern-3 {
    opacity: 0.65;
}
.snow-flake .flake-pattern-3::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.snow-flake .flake-pattern-3 .snow-flake-inner {
    height: 100%;
    background-color: #fff;
    width: 1px;
    position: absolute;
    left: 47%;
}
.snow-flake .flake-pattern-3 .snow-flake-inner::after,
.snow-flake .flake-pattern-3 .snow-flake-inner::before {
    content: '>•';
    position: absolute;
    font-size: 9px;
    color: #fff;
    font-weight: 600;
}
.snow-flake .flake-pattern-3 .snow-flake-inner::after {
    transform: rotate(-65deg);
    bottom: 14px;
    left: 0px;
}
.snow-flake .flake-pattern-3 .snow-flake-inner::before {
    transform: rotate(110deg);
    top: 14px;
    right: 0px;
}
.snow-flake .flake-pattern-3 .snow-flake-inner.second {
    transform: rotate(90deg);
}
.snow-flake .flake-pattern-3 .snow-flake-inner.third {
    transform: rotate(45deg);
}
.snow-flake .flake-pattern-3 .snow-flake-inner.fourth {
    transform: rotate(135deg);
}